<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Employees</title>
</head>
<body>

<div class="list">
    <h1>Employee List</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody th:each="myUser : ${employeeList.content}">

        <div th:unless="${param.edit}">
            <tr>
                <td th:text="*{myUser.id}"></td>
                <td th:text="*{myUser.firstName}+ ' ' +*{myUser.lastName}"></td>
                <td th:text="*{myUser.balance}" ></td>
                <td> <a th:href="@{users/update/{id}(id=${myUser.id})}" class="btn btn-primary">Edit</a> </td>
                <td> <a th:href="@{users/delete/{id}(id=${myUser.id})}" class="btn btn-primary">Delete</a> </td>
            </tr>
        </div>

        </tbody>
    </table>

</div>
</body>
</html>