<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Profile Informations</h2>

<form th:action="@{${#httpServletRequest.requestURL}}" th:object="${updateRequest}" method="post">
    <p>
  <label>First name:</label>
  <input type="text" th:required="true" th:field="*{firstName}">
    </p>
    <p>
  <label>Last name:</label>
  <input type="text" th:required="true" th:field="*{lastName}">
    </p>
    <p>
  <label>Password:</label>
  <input type="password" th:required="true" th:field="*{password}">
    </p>
  <input type="submit" value="Submit">
</form>

</body>
</html>